@media screen and (max-width:1150px) {
    .navbar-section{
        display: flex;
        flex-direction: column;
        height: 6rem;
    }

    .navbar-left-part{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .navbar-phone-call-logo{
        width: 25%;
    }

    .navbar-email{
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
    }

    .navbar-right-part{
        display: flex;
        width: 100%;
        padding-left: 5rem;
    }

    .fitems{
        width: 50%;
    }
    
    .contact-left-part-image{
        margin-left: 2rem;
    }   
}

@media screen and (max-width:965px) {
    .navbar-left-part{
        flex-direction: column;
        padding-left: 15rem;
    }
    .navbar-phone-call-logo{
        width: 100%;
    }
    .navbar-phone-call-logo img{
        width: 1rem;
    }
    .navbar-right-part{
        display: flex;
        width: 100%;
        padding-left: 20rem;
    }
    .contact-us{
        flex-wrap: wrap;
    }
    .container {
        margin-top: 0.3rem;
    }
    .contact-left-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
    .contact-right-part{
        width: 80%;
    }
    .container3-element-margin-left{
        margin: 0 2rem;
    }
}

@media screen and (max-width:770px) {
    .navbar-left-part{
        padding-left: 1rem;
    }
    .navbar-right-part{
        padding-left: 2rem;
    }
    .work-image-media-query{
        display: flex;
        flex-direction: column;
    }
    .content{
        width: 80%;
        margin-left: 3rem;
    }
}

@media screen and (max-width:624px){
    .container1{
        flex-direction: column;
        align-items: center;
    }
    .container2{
        flex-direction: column;
        align-items: center;
    }
    .fitems{
        width: 70%;
    }
    .container3{
        flex-direction:column;
        align-items: center;
        
    }
    
}

@media screen and (max-width:520px){
    .contact-left-part{
        width: 100%;
    }
    .contact-right-part{
        width: 100%;
    }
    .contact-left-part-image{
        width: 70%;
    }
    .container3{
        width: 73%;
    }
    
}

@media screen and (max-width:400px){
    .container1 .fitems h4 {
        font-size: 1rem;
    }
    .container2 .fitems h4 {
        font-size: 1rem;
    }
}